.home {
    padding: 15px 0;
    .comments {
        margin-top: 2em;
        hr{
            margin-bottom: 1.5em;
            margin-top: 0 !important;
        }
        .comment-item{
            border: 1px solid #ccc;
            border-radius: 12px;
            padding: 12px;
            margin-top: 1.5em;
        }
    }
}