<header>
    <div class="header-content clearfix">
        <img class="img-fluid pull-left" src="images/login/logo.png" />
        <div class="pull-right text-right text-white" ng-click="vm.logout();" style="cursor: pointer;">
            Logout
        </div>
    </div>
</header>
<nav>
    <div class="nav-content">
        <span class="nav-item" ng-repeat="item in vm.navList" ng-class="{'active':item.active}" ng-click="vm.changeNavigation(item, $index)">
        {{item.title}}
        </span>
    </div>
</nav>



<div class="center-wrapper" id="center-wrapper">
    <div class="center-container">
        <ui-view></ui-view>
    </div>
</div>

<footer class="text-center">
    <small>Copyright © ADHERE 2018</small>
</footer>