<!--------------------------!
            AdHere
!--------------------------->
<div class="login">

    <header>
        <img class="img-fluid" src="images/login/logo.png" />
    </header>

    <div class="content">
        <div class="row align-items-center loginBx_wrapper">
            <div class="col">
                <div class="loginBx">
                    <h3 class="mb-4">Sign Into Your Account</h3>
                    <form ng-submit="vm.login();">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username" ng-model="vm.formData.username" required />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" ng-model="vm.formData.password" required />
                        </div>
                        <div class="form-group clearfix">
                            <small class="pull-right text-info">Can't Login?</small>
                        </div>
                        <div class="form-group clearfix">
                            <button type="submit" class="btn btn-success w-100">Login</button>
                        </div>
                    </form>
                    <div class="outer-div">
                        <div class="seperator">OR</div>
                    </div>
                    <div class="form-group clearfix">
                        <button class="btn btn-info w-100" ui-sref="register">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="text-center">
        <small>Copyright © ADHERE 2018</small>
    </footer>

</div>
<!--------------------------!
            AdHere
!--------------------------->