$primary-color: #40a0e1;
$secondary-color: #fff;

$app-grey: #E0E0E0;
$app-grey-light: #FAFAFA;
$app-grey-dark: #757575;

$app-green: #7ed321;
$app-green-dark: #689F38;

$app-red: #ff0000;
$app-red-dark: #B71C1C;

$app-orange: #FF5722;
$app-orange-dark: #f06522;
$app-orange-light: #FF7043;

$app-font-family: 'Roboto', sans-serif;
$app-font-size: 16px;