.mentorHome {
    padding: 15px 0;
    .info-container {
        border: 1px solid #ccc;
        border-radius: 12px;
        padding: 12px;
        text-align: center;
        margin-top: 1.5em;
        background: #fff;
    }
    .user-list {
        margin-top: 2em;
        table {
            background: #fff;
        }
    }
}