<!-- MultiStep Form -->
<div class="mentorHome">
    <div class="dashboard" id="dashboard">
        <div class="heading clearfix mt-4">
            <h3 class="pull-left">Welcome, {{vm.user.firstname}} {{vm.user.lastname}} </h3>
        </div>
        <div class="row">
            <div class="col">
                <div class="info-container">
                    <h3>{{vm.mentorInfo.totalMentees}}</h3>
                    <small>Total Mentee Reporting</small>
                </div>
            </div>
            <div class="col">
                <div class="info-container">
                    <h3>0</h3>
                    <small>Stage Approvals Pending</small>
                </div>
            </div>
            <div class="col">
                <div class="info-container">
                     <h3>{{vm.mentorInfo.inactiveMentees}}</h3>
                    <small>Mentee Requests</small>
                </div>
            </div>
        </div>
        <div class="comments">
            <hr/>
            <span style="font-weight: normal;font-size: 1em;">
                Mentee Approval List <br>
                <small>Use <b>Send Message</b> to notify mentee for changes or <b>Approve</b> to approve the current stage.</small>
            </span>
            <div class="user-list">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>                          
                            <th scope="col">Approval Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vm.mentorInfo.listOfMentees">
                            <td>{{$index+1}}</td>
                            <td>{{item.firstname}} {{item.lastname}}</td>
                            <td><label class="switch">
                              <input type="checkbox" ng-model="te" ng-change="vm.toggleStatus();">
                              <span class="slider round"></span>
                            </label></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.MultiStep Form -->