<!-- MultiStep Form -->
<div class="mentorHome">
    <div class="dashboard" id="dashboard">
        <div class="heading clearfix mt-4">
            <h3 class="pull-left">Welcome, {{vm.user.firstname}} {{vm.user.lastname}} </h3>
        </div>
        <div class="row">
            <div class="col clearfix">
                <div class="info-container clearfix text-center">
                    <span><h3>{{vm.mentorInfo.totalMentees}}</h3>
                    <small>Total Mentee Reporting</small></span>
                    <span><h3>{{vm.mentorInfo.inactiveMentees}}</h3>
                    <small>Mentee Requests Pending</small></span>
                </div>
            </div>
            <div class="col">
                <div class="info-container" style="width: 100%;">
                    <h3>{{vm.mentorInfo.needsAttention}}</h3>
                    <small>Stage Approvals Pending</small>
                </div>
            </div>
        </div>
        <div class="comments">
            <hr/>
            <span style="font-weight: normal;font-size: 1em;">
                Mentee List <br>
                <small>Use <b>Approval Status</b> option to accept/reject mentees.</small>
            </span>
            <div class="user-list">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Approval Status</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vm.mentorInfo.listOfMentees" ng-class="{'bg-warning' : item.na == 1}">
                            <td>{{$index+1}}</td>
                            <td> <a ui-sref="app.mentorWorkBook({menteeId:item.menteeid})">{{item.firstname}} {{item.lastname}}</a></td>
                            <td><label class="switch">
                              <input type="checkbox" ng-model="item.mapstatus" ng-disabled="item.mapstatus" ng-change="vm.toggleStatus(item);">
                              <span class="slider round"></span>
                            </label></td>
                            <td><button class="btn btn-sm btn-danger" ui-sref="app.mentorWorkBook({menteeId:item.menteeid})">View</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.MultiStep Form -->