<!-- MultiStep Form -->
<div class="mentorWorkbook">

    <div id="form_wrapper">
        <!-- progressbar -->

        <ul id="progressbar" class="row py-4">
            <li class="col-2" ng-class="{'active':item.active}" ng-repeat="item in vm.stageList" ng-click="vm.navigateToStage(item, ($index+1))">
                {{item.title}}
            </li>
        </ul>

        <div class="text-center mb-4">
            {{vm.stageName[vm.gst]}}
        </div>

        <form>
            <div ng-show="vm.stageVisibility.stage1">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="vm.stagesList.stage1.agreement.menteeName">Mentee Name 
                        </label>
                            <input type="text" class="form-control" ng-readonly="vm.stagesList.stage1.rights.mentee.readOnly" ng-model="vm.stagesList.stage1.agreement.menteeName" placeholder="Enter mentee name">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="vm.stagesList.stage1.agreement.menteeRole">Mentee Role
                        </label>
                            <input type="text" class="form-control" ng-readonly="vm.stagesList.stage1.rights.mentee.readOnly" ng-model="vm.stagesList.stage1.agreement.menteeRole" placeholder="Enter mentee role">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="vm.stagesList.stage1.agreement.menteeGoal">Mentee Workplace
                        </label>
                            <input type="text" class="form-control" ng-readonly="vm.stagesList.stage1.rights.mentee.readOnly" ng-model="vm.stagesList.stage1.agreement.menteeWorkPlace" placeholder="Enter mentee workplace">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="vm.stagesList.stage1.agreement.menteeGoal">Mentee Goal
                        </label>
                            <input type="text" class="form-control" ng-readonly="vm.stagesList.stage1.rights.mentee.readOnly" ng-model="vm.stagesList.stage1.agreement.menteeGoal" placeholder="Enter mentee agreement">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="vm.stagesList.stage1.agreement.mentorName">Mentor Name
                        </label>
                            <input type="text" class="form-control" ng-readonly="vm.stagesList.stage1.rights.mentor.readOnly" ng-model="vm.stagesList.stage1.agreement.mentorName" placeholder="Enter mentee name">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="vm.stagesList.stage1.agreement.mentorRole">Mentor Role
                        </label>
                            <input type="text" class="form-control" ng-readonly="vm.stagesList.stage1.rights.mentor.readOnly" ng-model="vm.stagesList.stage1.agreement.mentorRole" placeholder="Enter mentee role">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="vm.stagesList.stage1.agreement.mentorWorkPlace">Mentor Workplace
                        </label>
                            <input type="text" class="form-control" ng-readonly="vm.stagesList.stage1.rights.mentor.readOnly" ng-model="vm.stagesList.stage1.agreement.mentorWorkPlace" placeholder="Enter mentee workplace">
                        </div>
                    </div>
                    <div class="col-12" ng-show="vm.stagesList.stage1.agreement.mentorGoal">
                        <div class="form-group">
                            <label for="vm.stagesList.stage1.agreement.mentorGoal">Mentor Goal
                        </label>
                            <input type="text" class="form-control" ng-readonly="vm.stagesList.stage1.rights.mentor.readOnly" ng-model="vm.stagesList.stage1.agreement.mentorGoal" placeholder="Enter mentee workplace">
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <b>Assessment activity </b>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="vm.stagesList.stage1.assesment.menteeNote">Mentee
                        </label>
                            <input type="text" class="form-control" ng-readonly="vm.stagesList.stage1.rights.mentee.readOnly" ng-model="vm.stagesList.stage1.assesment.menteeNote" placeholder="Enter mentee name">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="vm.stagesList.stage1.assesment.mentorNote">Mentor
                        </label>
                            <input type="text" class="form-control" ng-readonly="vm.stagesList.stage1.rights.mentor.readOnly" ng-model="vm.stagesList.stage1.assesment.mentorNote" placeholder="Enter mentee role">
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <b>Mapping evidence activity </b>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="vm.stagesList.stage1.mappingEvidence.menteeNote">Mentee
                        </label>
                            <input type="text" class="form-control" ng-readonly="vm.stagesList.stage1.rights.mentee.readOnly" ng-model="vm.stagesList.stage1.mappingEvidence.menteeNote" placeholder="Enter mentee name">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="vm.stagesList.stage1.mappingEvidence.mentorNote">Mentor
                        </label>
                            <input type="text" class="form-control" ng-readonly="vm.stagesList.stage1.rights.mentor.readOnly" ng-model="vm.stagesList.stage1.mappingEvidence.mentorNote" placeholder="Enter mentee role">
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <b>Action planning activity </b>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="vm.stagesList.stage1.actionPlan.menteeNote">Mentee
                        </label>
                            <input type="text" class="form-control" ng-readonly="vm.stagesList.stage1.rights.mentee.readOnly" ng-model="vm.stagesList.stage1.actionPlan.menteeNote" placeholder="Enter mentee name">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="vm.stagesList.stage1.actionPlan.mentorNote">Mentor
                        </label>
                            <input type="text" class="form-control" ng-readonly="vm.stagesList.stage1.rights.mentor.readOnly" ng-model="vm.stagesList.stage1.actionPlan.mentorNote" placeholder="Enter mentee role">
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <b>Verification activity </b>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="vm.stagesList.stage1.verificationPlan.menteeNote">Mentee
                        </label>
                            <input type="text" class="form-control" ng-readonly="vm.stagesList.stage1.rights.mentee.readOnly" ng-model="vm.stagesList.stage1.verificationPlan.menteeNote" placeholder="Enter mentee name">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="vm.stagesList.stage1.verificationPlan.mentorNote">Mentor
                        </label>
                            <input type="text" class="form-control" ng-readonly="vm.stagesList.stage1.rights.mentor.readOnly" ng-model="vm.stagesList.stage1.verificationPlan.mentorNote" placeholder="Enter mentee role">
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <b>Meeting Schedules </b>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="vm.stagesList.stage1.meetings.timeData">Meeting Time
                        </label>
                            <input type="text" class="form-control" ng-readonly="vm.stagesList.stage1.rights.mentee.readOnly" ng-model="vm.stagesList.stage1.meetings.timeData" placeholder="Enter mentee name">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="vm.stagesList.stage1.meetings.methodToRecord">Method for recording and monitoring of meetings: (who will take minutes, etc)
                        </label>
                            <input type="text" class="form-control" ng-readonly="vm.stagesList.stage1.rights.mentee.readOnly" ng-model="vm.stagesList.stage1.meetings.methodToRecord" placeholder="Enter mentee role">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="vm.stagesList.stage1.meetings.problemSolving">Strategies for addressing difficulties along the way
                        </label>
                            <input type="text" class="form-control" ng-readonly="vm.stagesList.stage1.rights.mentee.readOnly" ng-model="vm.stagesList.stage1.meetings.problemSolving" placeholder="Enter mentee role">
                        </div>
                    </div>
                    <br>
                    <div class="col-12" ng-repeat="item in vm.stagesList.stage1.meetings.timing">
                        <b>Dates and format of meeting</b>
                        <input ng-model="item.date" class="form-control" ng-readonly="vm.stagesList.stage1.rights.mentee.readOnly" placeholder="date" />
                        <input ng-model="item.format" class="form-control" ng-readonly="vm.stagesList.stage1.rights.mentee.readOnly" placeholder="format" />
                    </div>
                    <br>
                    <div class="col-12" ng-repeat="item in vm.stagesList.stage1.meetings.reviewDate">
                        <b>Review dates</b>
                        <input ng-model="item.date" class="form-control" ng-readonly="vm.stagesList.stage1.rights.mentee.readOnly" placeholder="date" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Agree - <input type="checkbox" ng-disabled="vm.stagesList.stage1.rights.mentor.readOnly" ng-model="vm.stagesList.stage1.confidentiality.mentorAgree" />
                    </div>
                </div>
                <div class="text-right">
                    <button ng-if="vm.stagesList.stage1.rights.mentor.readOnly == 0 && vm.stagesList.stage1.rights.mentee.readOnly == 1" type="submit" class="btn btn-primary" ng-click="vm.saveStage(1);">Approve</button>
                    <button ng-show="vm.stagesList.stage1.rights.mentor.readOnly == 1 && vm.stagesList.stage1.rights.mentor.readOnly == 1" type="submit" class="btn btn-primary" ng-click="vm.nextStage()">Next</button>
                </div>
            </div>

            <div ng-show="vm.stageVisibility.stage2">
                <div class="com-list" ng-repeat="item in vm.stagesList.stage2.items">
                    <div class="com-header clearfix">
                        <div class="pull-left">
                            {{item.title}}</div>
                        <div class="pull-right clearfix">
                            <div class="pull-left" ng-click="item.show=!item.show"><i class="fa fa-angle-down"></i></div>
                        </div>
                    </div>
                    <div class="com-body">
                        <div class="com-question-set" ng-repeat="section in item.section" ng-init="item.show=false;" ng-show="item.show">
                            <div class="com-question">
                                <div>
                                    <b>{{$parent.$index+1}}.{{$index+1}}. {{section.heading}}</b>
                                    <div ng-repeat="question in section.questions">
                                        <div class="pl-2">
                                            <u>{{$parent.$parent.$index+1}}.{{$parent.$index+1}}.{{$index+1}}</u> {{question.text}} <br>
                                            <div class="row">
                                                <div class="col" ng-class="{'active':question.answer==1}">
                                                    <div class="bg-white text-center">1</div>
                                                </div>
                                                <div class="col" ng-class="{'active':question.answer==2}">
                                                    <div class="bg-white text-center">2</div>
                                                </div>
                                                <div class="col" ng-class="{'active':question.answer==3}">
                                                    <div class="bg-white text-center">3</div>
                                                </div>
                                                <div class="col" ng-class="{'active':question.answer==4}">
                                                    <div class="bg-white text-center">4</div>
                                                </div>
                                                <div class="col" ng-class="{'active':question.answer==5}">
                                                    <div class="bg-white text-center">5</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <button ng-if="vm.stagesList.stage2.rights.mentor.readOnly == 0 && vm.stagesList.stage2.rights.mentee.readOnly == 1" type="submit" class="btn btn-primary" ng-click="vm.saveStage(2);">Approve</button>
                    <button ng-show="vm.stagesList.stage2.rights.mentee.readOnly == 1 && vm.stagesList.stage2.rights.mentor.readOnly == 1" type="submit" class="btn btn-primary" ng-click="vm.nextStage()">Next</button>
                </div>
            </div>

            <div ng-show="vm.stageVisibility.stage3">
                <div class="text-right">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Competency (specific topic area for your learning)</th>
                                    <th>Learning goal</th>
                                    <th>Resources needed to achieve goals</th>
                                    <th>Review date</th>
                                    <th>Due date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vm.stagesList.stage3.items">
                                    <td><select ng-model="item.term" disabled>
                                    <option value="Short term (3 months)">Short term (3 months)</option>
                                    <option value="Intermediate (6 months)">Intermediate (6 months)</option>
                                    <option value="Long term (1 year)">Long term (1 year)</option>
                                    </select></td>
                                    <td><input readonly type="text" ng-model="item.goal" /></td>
                                    <td><input readonly type="text" ng-model="item.resource" /></td>
                                    <td><input readonly type="text" ng-model="item.review_date" /></td>
                                    <td><input readonly type="text" ng-model="item.due_date" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="text-right">
                    <button ng-if="vm.stagesList.stage3.rights.mentor.readOnly == 0 && vm.stagesList.stage3.rights.mentee.readOnly == 1" type="submit" class="btn btn-primary" ng-click="vm.saveStage(3);">Approve</button>
                    <button ng-show="vm.stagesList.stage3.rights.mentee.readOnly == 1 && vm.stagesList.stage3.rights.mentor.readOnly == 1" type="submit" class="btn btn-primary" ng-click="vm.nextStage()">Next</button>
                </div>
            </div>

            <div ng-show="vm.stageVisibility.stage4">
                <div ng-repeat="item in vm.stagesList.stage4.items">
                    <div class="row">
                        <div class="col-4">Evidence title</div>
                        <div class="col-8"><input readonly disabled type="text" ng-model="item.title" /></div>
                    </div>
                    <div class="row">
                        <div class="col-4">Date completed</div>
                        <div class="col-8"><input readonly disabled type="text" ng-model="item.date_completed" /></div>
                    </div>
                    <div class="row">
                        <div class="col-4">Evidence category</div>
                        <div class="col-8">
                            <select readonly disabled ng-disabled="vm.stagesList.stage4.rights.mentee.readOnly" ng-model="item.evidence_category">
                                <option value="Clinical">Clinical</option>
                                <option value="Education">Education</option>
                                <option value="Leadership">Leadership</option>
                                <option value="Policy">Policy</option>
                                <option value="Research">Research</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col"><b>Continuing Professional Development (CPD) points/ hrs</b> associated with this evidence</div>
                    </div>
                    <div class="row">
                        <div class="col-4"><b>Knowledge</b> (Provide a narrative of your evidence and experience gained)</div>
                        <div class="col-8"><input readonly disabled type="text" ng-model="item.knowledge" /></div>
                    </div>
                    <div class="row"> 
                        <div class="col-4"><b>Skills</b> (Document the skills you gained through this experience)</div>
                        <div class="col-8"><input readonly disabled type="text" ng-model="item.skills" /></div>
                    </div>
                    <div class="row">
                        <div class="col-4"><b>Attitudes</b> (Have your attitudes changed as a result of this experience?)</div>
                        <div class="col-8"><input readonly disabled type="text" ng-model="item.attitude" /></div>
                    </div>
                    <div class="row">
                        <div class="col-4"><b>Competencies and domains of practice</b> (Highlight competencies relevant for this piece of evidence)</div>
                        <div class="col-8">
                            <div ng-repeat="com in item.competency">
                                <input readonly disabled ng-disabled="vm.stagesList.stage4.rights.mentee.readOnly" type="checkbox" ng-model="com.checked" /> {{com.text}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">Notify mentor (date)</div>
                        <div class="col-8"><input readonly disabled type="text" ng-model="item.mentor_notify_date" /></div>
                    </div>
                    <div class="mb-4">
                        <hr>
                    </div>
                </div>
                <div class="text-right">
                    <button ng-if="vm.stagesList.stage4.rights.mentor.readOnly == 0 && vm.stagesList.stage4.rights.mentee.readOnly == 1" type="submit" class="btn btn-primary" ng-click="vm.saveStage(4);">Approve</button>
                    <button ng-show="vm.stagesList.stage4.rights.mentee.readOnly == 1 && vm.stagesList.stage4.rights.mentor.readOnly == 1" type="submit" class="btn btn-primary" ng-click="vm.nextStage()">Next</button>
                </div>
            </div>

            <div ng-show="vm.stageVisibility.stage5">5</div>
        </form>

    </div>

</div>